html {
  min-height: 100%;
  position: relative;
}
body {
  background: #fff;
  color: #333;
  font-weight: 400;
  font-size: 13px;
  min-height: 100%;
  font-family: "Microsoft YaHei", 'Arial,Verdana,SimHei,sans-serif';
}
header {
  margin-left: 190px;
}
