html{
	min-height: 100%;
	position: relative;
}
body{
	background: #fff;
	color: red;
	font-weight: 400;
	font-size: @basefontsize;
	min-height: 100%;
	font-family: "Microsoft YaHei",'Arial,Verdana,SimHei,sans-serif'
}

header{
	margin-left: @sidebar-width;
}