h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
    line-height: 1.2;
    color: #414141;
}
.circle-icon {
    float: left;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}
.bg-danger {
    background-color: #ff604f;
    color: #ffcfca;
}
.bg-danger > a {
    color: #ffcfca;
}
.bg-none{
	background-color: transparent;
    box-shadow: none;
}
.bg-success{
	background-color: #2dcb73;
    color: #c0efd5;
}
.bg-default {
    background-color: #dde1e7;
    color: #424445;
}
.bg-warning {
    background-color: #ffb244;
    color: #ffe8c7;
}
.bg-warning > a {
    color: #ffe8c7;
}
.bg-white {
    background-color: #ffffff;
    color: #4d4d4d;
}
.bg-primary {
    background-color: #17c3e5;
    color: #b9edf7;
}
.bg-primary > a {
    color: #b9edf7;
}
.bg-info {
    background-color: #1ec3c8;
    color: #bcedef;
}
.text-white, .text-white a {
    color: #ffffff;
}
.text-muted, .text-muted a {
    color: #b3b3b3;
}
.text-default, .text-default a {
    color: #dde1e7;
}
.text-primary, .text-primary a {
    color: #17c3e5;
}
.text-gray, .text-gray a{
    color:#8e8e8e;
}
.no-border{
  	border:0;
}
.no-margin{
	margin:0!important;
}
.no-padding {
    padding: 0!important;
}
.mg-b{
	margin-bottom: @lg;
}
.mg-r-md {
    margin-right: @lg;
}
.mg-t-xs {
    margin-top: @sm;
}
.mg-xs {
    margin: @xs;
}
.mg-r-xs {
    margin-right: @xs;
}
.mg-t-md {
    margin-top: @vlg;
}
.mg-t-sm {
    margin-top: @lg;
}
.pd{
    padding:@lg;
}
.pd-md {
    padding: @lg;
}
.pd-lg{
    padding:@vlg;
}
.pd-b{
    padding-bottom: @vlg;
}
.pd-r-xs {
    padding-right: @xs;
}
.avatar {
    position: relative;
    display: inline-block;
    width: 100%;
}
.avatar-lg {
    width: 128px;
}
.avatar-md {
    width: 64px;
}
.avatar-sm {
    width: 32px;
}
.avatar-xs {
    width: 16px;
}
.overflow-hidden {
    overflow: hidden;
}