@font-family:"Microsoft YaHei",'Arial,Verdana,SimHei,sans-serif';

@basefontsize: 13px;

@background: #ebeef1;

@bg-white:#fff;

@textcolor: #333;

@textcolor-link:#333;

@textcolor-header:rgba(255, 255, 255, 0.8);

@xs:5px;

@sm:10px;

@lg:15px;

@vlg:20px;